<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
      Project Manager
  </h1>
</div>

<span item-width="100%">
<button [routerLink]="['/addProject']" type= "button">Add Project</button>
</span>
<span  item-width="20px">
<button [routerLink]="['/addTask']" type= "button">Add Task</button>
</span>
<span>
<button [routerLink]="['/addUser']" type= "button">Add User</button>
</span>
<span>
<button [routerLink]="['/viewTask']" type= "button">View Task</button>
</span>


<router-outlet></router-outlet>
