<form name = "form" novalidate >
  <div >
    <label for ="projectNm">Project:</label>
    <input type= "text" name ="projectNm" [(ngModel)]="project.projectNm" #projectNm = "ngModel">
  </div>
  <div >
  <input type="checkbox" name="tandc" id="tandc" value="true"><label for="tandc"> Set Start and End Date</label> 
  <input type= "text" name ="startDt" placeholder="Start Date" [(ngModel)]="project.startDt" #startDt = "ngModel">
  <input type= "text" name ="endDt" placeholder="End Date" [(ngModel)]="project.endDt" #endDt = "ngModel">
</div>


<div class="d-flex justify-content-center my-4">
    <label for ="priority">Priority:</label>
    <input type="range" class="input-range" min="1" max="30" id="priority" name = "priority" [(ngModel)]="project.priority" #priority = "ngModel"/>
</div>


<div>
    <label for ="manager">Manager:</label>
    <input type= "text" name ="manager" >
    <button type="button" >Search</button>
  </div>
  <button type="submit" (click) = "addProjectDetails()">Add</button>
  {{project.status}}
  <button type="submit">Reset</button>

  <div >
      <input type= "text" name ="projectid"  [(ngModel)]="project.projectId">
      <button type="submit" (click) = "searchProjectDetails()">Search</button>
    </div>

    Sort:
    <button type="button"  (click) = "sortProjectByStartDt()">Start Date</button>
   
    <button type="button" (click) = "sortProjectByEndDt()">End Date</button>
    
    <button type="button" (click) = "sortProjectByPriority()">Priority</button> 
    <button type="button" (click) = "sortProjectByStatusPriority()">Completed</button> 
    <div class="form-group">
        <table border="1" >
            <tr>
           <th>Project</th>
           <th>Start Date</th>
           <th>End Date</th>
           <th>Priority</th>
         </tr>
           <tr  *ngFor="let project of projects">
           <td>{{project.projectNm}}</td>      
           <td>{{project.startDt}}</td>    
           <td>{{project.endDt}}</td>
           <td>{{project.priority}}</td>
           <td><button type="button" >Update</button></td>
           <td><button type="button" >Suspend</button></td>
           </tr>
       </table>
    </div>
</form>
